RABBIT_PUBSUB_ADDRESS=rabbitmq
RABBIT_WEBCLIENT_PORT=15672
RABBIT_PUBSUB_PORT=5672
RABBIT_USER=admin
RABBIT_PASSWORD=DEMO_PASSWORD
RABBIT_QUEUE_NAME=location_data_queue

POSTGRES_HOST=postgres
POSTGRES_PORT_GLOBAL=5435
POSTGRES_PORT_LOCAL=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD=DEMO_PASSWORD
POSTGRES_DB=locationData